<h1>List of 'L' Station Stops</h1>


<div class="row">
  <div class="col-md-12">
    <h3><a href="/index/show"><%= @data.at(0)["station_descriptive_name"] %></a></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3><a href="/index/show"><%= @data.at(106)["station_descriptive_name"] %></a></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3><a href="/index/show"><%= @data.at(130)["station_descriptive_name"] %></a></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3><a href="/index/show"><%= @data.at(150)["station_descriptive_name"] %></a></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3><a href="/index/show"><%= @data.at(221)["station_descriptive_name"] %></a></h3>
  </div>
</div>

  <p>Total 'L' Stops = <%= @data.size %></p>

<!-- Need to learn how to iterate the list with a variable?!!! -->
